registry=https://registry.npmjs.org
legacy-peer-deps=true
enable-pre-post-scripts=true
node-linker=hoisted
public-hoist-pattern[]="*prisma*"
public-hoist-pattern[]="*next*"
public-hoist-pattern[]="*react*"
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
